body {
  /*padding-top: 50px;*/
  color: #a7a3a3;
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 0.07em;
  font-size: 15px;
}
a {
  color: #06142d;

}
a:hover, a:active, a:focus {
  text-decoration: none;
  transition: ease 0.5s;
  color: #310e56;
}

a.a-text {
  color: #EAE4E4;
}

a.a-text:hover {
  color: #a7a3a3;
}

.form-control, .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0px !important;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.small-hr {
  width: 200px;
  border-width: 3px;
  border-color: #310e56;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.grey-bg {
  background: #f3f3f3 !important;
}
/*MENU*/

.nav.navbar-nav {
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand>img {
  width: 120px;
}

.affix-top .navbar-brand .affix-logo, .affix .navbar-brand .affix-top-logo  {
  display: none;
}

.affix-top .navbar-brand .affix-top-logo, .affix .navbar-brand .affix-logo  {
  display: block;
}


.affix .navbar-brand>img {
  padding-top: 5px;
  width: 250px;
  transition: all .4s ease 0s;
}

.affix-top .navbar-inverse {
  background-color: transparent;
  border: none;
}

.affix .navbar-inverse {
  background-color: white;
  border: none;
  color: black;
  transform: translateZ(0);
  transition: height .3s ease 0s, background .3s ease 0s;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  padding: 40px 5px 5px 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.affix .navbar-inverse .navbar-nav>li>a {
  color: black;
  padding-top: 30px;
  margin-bottom: 25px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background: none;
  border-bottom: 2px solid white;
}

.affix .navbar-inverse .navbar-nav>.active>a, .affix .navbar-inverse .navbar-nav>.active>a:focus, .affix .navbar-inverse .navbar-nav>.active>a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.affix-top .navbar-inverse .navbar-nav>li>a:hover {
  color: #EAE4E4;
}

.affix .navbar-inverse .navbar-nav>li>a:hover {
  color: #06142D;
  border-bottom: 2px solid #06142D;
  transition: 0.2s ease;
}

/*FOOTER*/

footer {
  background-color: #06142d;
  padding: 30px 15px;
  color: #EAE4E4;
}

footer h4 {
  color: #66cee4;
  text-transform: uppercase;
  margin-bottom: 15px;
}

footer .footer-logo {
  float: left;
  width: 80px;
  margin-right: 10px;
}

footer .footer-menu li {
  margin-bottom: 10px;
}
.bx-wrapper .bx-controls-direction a {
  z-index: 10;
}
/*HOMEPAGE*/

header {
  position: fixed;
  left: 0;
  transition: background .3s ease, height .4s ease;
  width: 100%;
  z-index: 29;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.header-wrapper {
  position: relative;
  width: 100%;
  transition: height .3s ease 0s, background .3s ease 0s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 3;
}

/*SLIDER*/

.bx-wrapper {
  border: none;
  margin-bottom: 0;
}

.bx-pager.bx-default-pager {
  display: none;
}

.banner-slider {
  position: relative;
}

.banner-slider .onslides {
  position: absolute;
  z-index: 20;
}
.banner-slider .onslides.fixed {
  left: 50px;
  top: 195px;
}
.banner-slider .onslides.changing {
  right: 100px;
  width: 500px;
  top: 50%;
  transform: translateY(-50%);
}

.banner-slider .onslides .titles {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px 20px;
  color: black;
}

.banner-slider .onslides .titles h2, .banner-slider .onslides .titles h3 {
  margin: 0;
  color: #310e56;
  line-height: 35px;
}

.banner-slider .onslides .titles h2 {
  font-size: 23px;
  text-transform: uppercase;
}
.banner-slider .onslides .titles h3 {
  font-size: 19px;
  font-family: 'Lato';
  letter-spacing: 0px;
  font-weight: 300;
  color: #06142d;
}
.banner-slider .onslides .titles p {
  margin-top: 10px;
}
.banner-slider .onslides .titles a {
  font-size: 17px;
}
.banner-slider .booking-form-ctn {
  background-color: rgba(255, 255, 255, 0.7);
  width: 440px;
}
.banner-slider .booking-form-ctn .form-title {
  margin: 0;
  /*background-color: #310e56;*/
  background-image: url('../images/ep_naturalblack.png');
}
.banner-slider .booking-form-ctn h1 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  padding: 15px 10px 15px;
  color: white;
  text-transform: uppercase;
}
.banner-slider .booking-form-ctn form {
  padding: 15px 25px 25px;
}
.banner-slider .booking-form-ctn form label {
  font-family: 'Lato';
  font-weight: 300;
  color: 	#06142d;
  letter-spacing: 0;
}
.banner-slider .booking-form-ctn form label i {
  font-size: 11px;
}
.banner-slider .booking-form-ctn .form-group {
  margin-bottom: 5px;
}

/*GENERAL*/

.main {
  padding-top: 130px;
  color: #1A1C1D;
  background-color: white;
}

.home-main {
  padding-top: 0;
  overflow: hidden;
}
.btn {
  margin-top: 20px;
  border-radius: 0;
  text-transform: uppercase;
}
.purple-btn {
  background-color: 	#310e56;
  border-color: 	#310e56;
  color: white;
}
.purple-btn:hover {
  transition: ease 0.7s;
  background-color: 	#922e79;
  border-color: 	#922e79;
  color: white;
}
.purple-blue-btn {
  background-color:	#922e79;
  border-color:	#922e79;
  color: white;
}
.purple-blue-btn:hover {
  transition: ease 0.7s;
  background-color: #66cee4;
  border-color: #66cee4;
  color: 	#06142d;
}

.footer-btn {
  width: 100%;
  font-size: 16px;
}
.galaxy-btn {
  background-image: url('../images/ep_naturalblack.png');
  color: white;
  border: none;
}
.galaxy-btn:hover {
  color: #eae4e4;
}

/*HOMEPAGE*/
.home-main section, .my-account-ctn section, .contact-us-ctn section  {
  padding-top: 40px;
  padding-bottom: 50px;
}
.home-main section h1 {

}
.home-main .icons-row {
  margin-top: 30px;
}
.home-main .icons-row img {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
}
.home-main .icons-row figcaption {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.home-main .planets-travel-ctn {
  padding-top: 30px;
  padding-bottom: 30px;
  background: url('../images/ep_naturalblack.png');
  background-attachment: fixed;
}
.home-main .planets-travel-ctn .row {
  /*margin-bottom: 50px;*/
}
.home-main .planets-travel-ctn h2 {
  color: #eae4e4
}
.home-main .planets-travel-ctn hr {
  border-color: #66cee4;
  margin-bottom: 80px;
}
.home-main .planets-travel-ctn .planet-img img {
  width: 150px;
  margin: 0 auto;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center;
}
.home-main .planets-travel-ctn .planet-desc h1, .home-main .planets-travel-ctn .planet-desc p {
  color: #eae4e4;
}
.home-main .planets-travel-ctn .planet-desc h1 {
  font-size: 26px;
  letter-spacing: 1em;
}
.home-main .planets-travel-ctn .planet-img {
  height: 200px;
}
.home-main .planets-travel-ctn .planet-img .col-md-6:first-child{
  border-right: 1px dashed #a7a3a3;
  height: 200px;
}
.home-main .planets-travel-ctn .planet-desc p span {
  color: 	#66cee4;
}
.planets-travel-ctn .btn {
  font-size: 16px;
  padding: 10px 30px;
  line-height: normal;
}
/*Témoignages*/
.testimonials-carrousel {

}

/*INFORMATIONS (Laura)*/
.info-main h2{
color : #922e79;
padding-bottom: 20px;
font-family: Saira Semi Condensed;
}
.reservation-main section {
  background-color: white;
}
section .counter-wrap {
  background-color: #310e56;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.img-info {
  padding-top: 20px;
  padding-bottom: 15px;
  width:90px;
  margin-left: auto;
  margin-right: auto;
}

.adresse {
  color: black;
  font-weight: bold;
  font-family: Saira Semi Condensed;
}
h3.timer {
  font-size: 30px;
}
.counter-info {
  font-size: 18px;
}
.info-main>section:last-of-type {
  padding-bottom: 40px;
}

/*CONTACT*/
.contact-us-ctn {
  padding-bottom: 50px;
}
.my-account-ctn section, .contact-us-ctn section {
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}
.contact-us-ctn h3 {
  text-transform: none;
}
.table-hover>tbody>tr:hover {
    background-color: #e2dfdf;
}
.contact-us-ctn label {
  display: inline-block;
  width: 110px;
}

.contact-us-ctn form, .contact-content {
  /* Pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.contact-us-ctn input, .contact-us-ctn textarea, .contact-us-ctn .input-group {
  /* Afin de s'assurer que tous les champs textuels utilisent la même police
  Par défaut */
  font: 1em sans-serif;
  /* Pour donner la même dimension à tous les champs textuels */
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Pour harmoniser l'apparence des bordures des champs textuels */
  border: 1px solid #999;
}

.contact-us-ctn textarea {
  resize:none;
  /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;
  /* Pour donner assez d'espace pour entrer du texte */
  height: 5em;
}


.contact-us-ctn .large-label {
  width: 350px;
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
}
