body {
  /*padding-top: 50px;*/
  color: #a7a3a3;
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 0.07em;
}
a {
  color: #310e56;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  transition: ease 0.5s;
  color: 	#922e79;
}

a.a-text {
  color: #EAE4E4;
}

a.a-text:hover {
  color: #a7a3a3;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*MENU*/

.nav.navbar-nav {
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand>img {
  width: 120px;
}

.affix-top .navbar-brand .affix-logo {
  display: none;
}

.affix-top .navbar-brand .affix-top-logo {
  display: block;
}

.affix .navbar-brand .affix-top-logo {
  display: none;
}

.affix .navbar-brand .affix-logo {
  display: block;
}

.affix .navbar-brand>img {
  padding-top: 5px;
  width: 250px;
  transition: all .4s ease 0s;
}

.affix-top .navbar-inverse {
  background-color: transparent;
  border: none;
}

.affix .navbar-inverse {
  background-color: white;
  border: none;
  color: black;
  transform: translateZ(0);
  transition: height .3s ease 0s, background .3s ease 0s;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  padding: 40px 5px 5px 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.affix .navbar-inverse .navbar-nav>li>a {
  color: black;
  padding-top: 30px;
  margin-bottom: 25px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background: none;
  border-bottom: 2px solid white;
}

.affix .navbar-inverse .navbar-nav>.active>a, .affix .navbar-inverse .navbar-nav>.active>a:focus, .affix .navbar-inverse .navbar-nav>.active>a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.affix-top .navbar-inverse .navbar-nav>li>a:hover {
  color: #EAE4E4;
}

.affix .navbar-inverse .navbar-nav>li>a:hover {
  color: #06142D;
}

/*FOOTER*/

footer {
  background-color: #06142d;
  padding: 30px 15px;
  color: #EAE4E4;
}

footer h4 {
  color: #66cee4;
  text-transform: uppercase;
  margin-bottom: 15px;
}

footer .footer-logo {
  float: left;
  width: 80px;
  margin-right: 10px;
}

footer .footer-menu li {
  margin-bottom: 10px;
}

/*HOMEPAGE*/

header {
  position: fixed;
  left: 0;
  transition: background .3s ease, height .4s ease;
  width: 100%;
  z-index: 29;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.header-wrapper {
  position: relative;
  width: 100%;
  transition: height .3s ease 0s, background .3s ease 0s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 3;
}

/*SLIDER*/

.bx-wrapper {
  border: none;
  margin-bottom: 0;
}

.bx-pager.bx-default-pager {
  display: none;
}

.banner-slider {
  position: relative;
}

.banner-slider .onslides {
  position: absolute;
  z-index: 20;
}
.banner-slider .onslides.fixed {
  left: 50px;
  top: 195px;
}
.banner-slider .onslides.changing {
  right: 100px;
  top: 195px;
  width: 500px;
}

.banner-slider .onslides .titles {
  background-color: rgba(255, 255, 255, 0.46);
  padding: 15px 20px;
  color: black;
}

.banner-slider .onslides .titles h2, .banner-slider .onslides .titles h3 {
  margin: 0;
  color: #310e56;
  line-height: 35px;
}

.banner-slider .onslides .titles h2 {
  font-size: 23px;
  text-transform: uppercase;
}
.banner-slider .onslides .titles h3 {
  font-size: 19px;
  font-family: 'Lato';
  letter-spacing: 0px;
  font-weight: 300;
}
.banner-slider .onslides .titles p {
  margin-top: 10px;
}
.banner-slider .onslides .titles a {
  font-size: 17px;
}
.banner-slider .booking-form-ctn {
  background-color: white;
  width: 440px;
}
.banner-slider .booking-form-ctn .form-title {
  margin: 0;
  background-color: #310e56;
}
.banner-slider .booking-form-ctn h1 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  padding: 20px 10px 25px;
  color: white;
  text-transform: uppercase;
}
.banner-slider .booking-form-ctn form {
  padding: 15px 25px 25px;
}
/*GENERAL*/

.main {
  padding-top: 130px;
  background-color: #1A1C1D;
}

.home-main {
  padding-top: 0;
  color: #1A1C1D;
  background-color: white;
}
